@import 'include-media';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: #272727;
  font-family: 'Roboto Condensed', Arial, sans-serif;
}

.Home {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  width: 100vw;
}

.Home__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateY(-50%);
}

.Home__name {
  font-size: 3vw;
  text-align: center;

  @include media("<=desktop") {
    font-size: 5vw;
  }

  @include media("<tablet") {
    font-size: 6.5vw;
  }
}

.Home__job {
  font-size: 2vw;
  text-align: center;

  @include media("<=desktop") {
    font-size: 4vw;
  }


  @include media("<tablet") {
    font-size: 6vw;
  }
}






.About {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 99px;
  margin-bottom: 40vh;


  background-color: #ffa500;
}


.About__content {
  flex: 1;
  font-size: 20px;
  padding: 0 20px 20px 20px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  display: none;
}


.About__button {
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 20px;

  width: 100%;

  outline: none;
  border: none;

  font-size: 26px;
  font-weight: 100;

  @include media(">desktop") {
    &:hover {
      background-color: #fff2;
    }
  }

  @include media("<tablet") {
    font-size: 20px;
  }

  &--open {
    border: none;
  }
}

.About__social-area {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: stretch;

  border-left: solid #fff8 1px;
  padding: 0 0 0 4px;

  @include media("<tablet") {
    border: 0;
  }
}

.About__social {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
  margin: 16px;
  cursor: pointer;
  text-decoration: none;

  background-color: #fff1;
  border-radius: 4px;

  &:hover {
    background-color: #fff2;
  }

  @include media("<tablet") {
    border-radius: 99px;
  }
}

.About__social-img {
  width: 48px;

  @include media("<tablet") {
    width: 32px;
  }
}

.About__social-description {
  font-size: 14px;
  margin: 4px 0 0 0;
  color: white;

  @include media("<tablet") {
    display: none;
  }
}

.About__tech {
  color: #ffa500;
}

.About__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: auto 0 0 0;
  align-self: center;

  @include media("<tablet") {
    flex-direction: column;
  }
}

.About__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 16px 0 0;

  @include media("<tablet") {
    align-items: center;
  }
}


.About__text {
  flex: 1;

  & > p {
    padding: 10px 0;
    max-width: 650px;
  }

  overflow-y: auto;
}
